<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fim.de.mydrivingrisk">
    //Einbinden der benötigten Rechte
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TripHistory"
            android:label="Gespeicherte Fahrten"/>

        <!-- A child of the main activity -->
        <activity
            android:name=".RecordTrip"
            android:label="myDrivingRisk - Fahrt aufzeichnen"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name=".MainActivity"
                android:value="de.fim.mydrivingrisk.MainActivity" />
        </activity>

        <!-- A child of the main activity -->
        <activity
            android:name=".TripResult"
            android:label="Fahrtergebnis"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name=".MainActivity"
                android:value="de.fim.mydrivingrisk.MainActivity" />
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>